{% extends 'base.html' %}

{% block head %}
<title>Encryption Form for CNT471</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Encryption Form</h1>

    <table>
        <tr>
            <th>PlainText</th>
            <th>CipherText</th>
            <th>Decrypted Output</th>
        </tr>
        {% for object in encrypted_object %}
            <tr>
                <td>{{ object[0] }}</td>
                <td>{{ object[1] }}</td>
                <td>{{ object[2] }}</td>
            </tr>
        {% endfor %}
    </table>

    <form action="/encrypt" name="encrypt" method="POST">
        Plain Text: <input type="text" name="plainText" id="plainText"><br>
        <input type="submit" name="encrypt" value="Encrypt"><br>
    </form>
    <form action="/decrypt" name="encrypt" method="POST">
        Cipher Text: <input type="text" name="cipherText" id="cipherText"><br>
        <input type="submit" name="decrypt" value="Decrypt"><br>
    </form>
</div>
{% endblock %}